/* Slider.css */
.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 0;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(20, 20, 20, 0.6);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.slider-button:hover {
  background-color: rgba(20, 20, 20, 0.9);
}

.slider-button.left {
  left: 0;
}

.slider-button.right {
  right: 0;
}
